# Predictions on stock market #

We'll be working with a csv file containing historical data on the price of the S&P500 Index, making predictions about future prices. Predicting whether an index will go up or down will help us forecast how the stock market as a whole will perform. Since stocks tend to correlate with how well the economy as a whole is performing, it can also help us make economic forecasts.

In [1]:
import pandas as pd

stock = pd.read_csv(filepath_or_buffer="https://raw.githubusercontent.com/NickyThreeNames/DataquestGuidedProjects/master/Guided%20Project-%20Predicting%20the%20stock%20market/sphist.csv")
stock.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883

In [2]:
stock.tail()

             Date   Open   High    Low  Close     Volume  Adj Close
16585  1950-01-09  17.08  17.08  17.08  17.08  2520000.0      17.08
16586  1950-01-06  16.98  16.98  16.98  16.98  2010000.0      16.98
16587  1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93
16588  1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85
16589  1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66

Below is the description of the columns:
- `Date` ---------- the date of the record.
- `Open` ---------- the opening price of the day (when trading starts).
- `High` ---------- the highest trade price of the day.
- `Low`  ---------- the lowest trade price of the day.
- `Close` --------- the closing price for the day (when trading ends).
- `Volumne` ------- the number of shares traded.
- `Adj Close` ----- the daily closing price, adjusted retroactively to include any corporate actions.

The data recorded trading days from January 3th 1950 to December 7th 2015.

We 'll train the model with data from 1950-2012, and try to make predictions from 2013-2015.

In [3]:
# convert 'Date' column into datetime and sort the dates
stock['Date'] = pd.to_datetime(stock['Date'])
stock.sort_values('Date', inplace=True)
stock.head()

            Date   Open   High    Low  Close     Volume  Adj Close
16589 1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66
16588 1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85
16587 1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93
16586 1950-01-06  16.98  16.98  16.98  16.98  2010000.0      16.98
16585 1950-01-09  17.08  17.08  17.08  17.08  2520000.0      17.08

## Generating indicators ##

Let's generate some indicators for each row to help make predictions:
- The average price for the past 5 days.
- The average price for the past 30 days.
- The average price for the past 365 days.

The price must be the closing price of the day.

For any date that doesn't have enough historical data to compute an indicator, we fill in `0`.

In [4]:
# create 3 columns that have 0 as a default value
stock['day_5'] = 0
stock['day_30'] = 0
stock['day_365'] = 0
stock.head()

,Date,Open,High,Low,Close,Volume,Adj Close,day_5,day_30,day_365
16589,1950-01-03,16.66,16.66,16.66,16.66,1260000.0,16.66,0,0,0
16588,1950-01-04,16.85,16.85,16.85,16.85,1890000.0,16.85,0,0,0
16587,1950-01-05,16.93,16.93,16.93,16.93,2550000.0,16.93,0,0,0
16586,1950-01-06,16.98,16.98,16.98,16.98,2010000.0,16.98,0,0,0
16585,1950-01-09,17.08,17.08,17.08,17.08,2520000.0,17.08,0,0,0

In [5]:
# create indicators
stock['day_5'] = stock['Close'].rolling(5).mean()
# shift all the values "forward" one day
stock['day_5'] = stock['day_5'].shift()

stock['day_30'] = stock['Close'].rolling(30).mean()
stock['day_30'] = stock['day_30'].shift()

stock['day_365'] = stock['Close'].rolling(365).mean()
stock['day_365'] = stock['day_365'].shift()

stock

,Date,Open,High,Low,Close,Volume,Adj Close,day_5,day_30,day_365
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1.260000e+06,16.660000,NaN,NaN,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1.890000e+06,16.850000,NaN,NaN,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2.550000e+06,16.930000,NaN,NaN,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2.010000e+06,16.980000,NaN,NaN,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2.520000e+06,17.080000,NaN,NaN,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2.160000e+06,17.030001,16.900000,NaN,NaN
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2.630000e+06,17.090000,16.974000,NaN,NaN
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2.970000e+06,16.760000,17.022000,NaN,NaN
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3.330000e+06,16.670000,16.988000,NaN,NaN
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1.460000e+06,16.719999,16.926000,NaN,NaN
16579,1950-01-17,16.860001,16.860001,16.860001,16.860001,1.790000e+06,16.860001,16.854000,NaN,NaN
16578,1950-01-18,16.850000,16.850000,16.850000,16.850000,1.570000e+06,16.850000,16.820000,NaN,NaN
16577,1950-01-19,16.870001,16.870001,16.870001,16.870001,1.170000e+06,16.870001,16.772000,NaN,NaN
16576,1950-01-20,16.900000,16.900000,16.900000,16.900000,1.440000e+06,16.900000,16.794000,NaN,NaN
16575,1950-01-23,16.920000,16.920000,16.920000,16.920000,1.340000e+06,16.920000,16.840000,NaN,NaN
16574,1950-01-24,16.860001,16.860001,16.860001,16.860001,1.250000e+06,16.860001,16.880000,NaN,NaN
16573,1950-01-25,16.740000,16.740000,16.740000,16.740000,1.700000e+06,16.740000,16.880000,NaN,NaN
16572,1950-01-26,16.730000,16.730000,16.730000,16.730000,1.150000e+06,16.730000,16.858000,NaN,NaN
16571,1950-01-27,16.820000,16.820000,16.820000,16.820000,1.250000e+06,16.820000,16.830000,NaN,NaN
16570,1950-01-30,17.020000,17.020000,17.020000,17.020000,1.640000e+06,17.020000,16.814000,NaN,NaN
16569,1950-01-31,17.049999,17.049999,17.049999,17.049999,1.690000e+06,17.049999,16.834000,NaN,NaN
16568,1950-02-01,17.049999,17.049999,17.049999,17.049999,1.810000e+06,17.049999,16.872000,NaN,NaN
16567,1950-02-02,17.230000,17.230000,17.230000,17.230000,2.040000e+06,17.230000,16.934000,NaN,NaN
16566,1950-02-03,17.290001,17.290001,17.290001,17.290001,2.210000e+06,17.290001,17.034000,NaN,NaN
16565,1950-02-06,17.320000,17.320000,17.320000,17.320000,1.490000e+06,17.320000,17.128000,NaN,NaN
16564,1950-02-07,17.230000,17.230000,17.230000,17.230000,1.360000e+06,17.230000,17.188000,NaN,NaN
16563,1950-02-08,17.209999,17.209999,17.209999,17.209999,1.470000e+06,17.209999,17.224000,NaN,NaN
16562,1950-02-09,17.280001,17.280001,17.280001,17.280001,1.810000e+06,17.280001,17.256000,NaN,NaN
16561,1950-02-10,17.240000,17.240000,17.240000,17.240000,1.790000e+06,17.240000,17.266000,NaN,NaN
16560,1950-02-14,17.059999,17.059999,17.059999,17.059999,2.210000e+06,17.059999,17.256000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
29,2015-10-26,2075.080078,2075.139893,2066.530029,2071.179932,3.385800e+09,2071.179932,2042.205981,1980.742993,2024.626740
28,2015-10-27,2068.750000,2070.370117,2058.840088,2065.889893,4.216880e+09,2065.889893,2049.709961,1984.681323,2025.175589
27,2015-10-28,2066.479980,2090.350098,2063.110107,2090.350098,4.698110e+09,2090.350098,2056.733936,1987.607987,2025.690739
26,2015-10-29,2088.350098,2092.520020,2082.629883,2089.409912,4.008940e+09,2089.409912,2071.015967,1990.775989,2026.253123
25,2015-10-30,2090.000000,2094.320068,2079.340088,2079.360107,4.256200e+09,2079.360107,2078.395947,1994.082987,2026.846493
24,2015-11-02,2080.760010,2106.199951,2080.760010,2104.050049,3.760020e+09,2104.050049,2079.237988,1998.127323,2027.370685
23,2015-11-03,2102.629883,2116.479980,2097.510010,2109.790039,4.272060e+09,2109.790039,2085.812012,2002.696659,2027.950302
22,2015-11-04,2110.600098,2114.590088,2096.979980,2102.310059,4.078870e+09,2102.310059,2094.592041,2008.264994,2028.523617
21,2015-11-05,2101.679932,2108.780029,2090.409912,2099.929932,4.051890e+09,2099.929932,2096.984033,2013.716663,2029.045261
20,2015-11-06,2098.600098,2101.909912,2083.739990,2099.199951,4.369020e+09,2099.199951,2099.088037,2019.306327,2029.566219
19,2015-11-09,2096.560059,2096.560059,2068.239990,2078.580078,3.882350e+09,2078.580078,2103.056006,2024.901660,2030.057096
18,2015-11-10,2077.189941,2083.669922,2069.909912,2081.719971,3.821440e+09,2081.719971,2097.962012,2031.461995,2030.481781
17,2015-11-11,2083.409912,2086.939941,2074.850098,2075.000000,3.692410e+09,2075.000000,2092.347998,2038.049662,2030.911233
16,2015-11-12,2072.290039,2072.290039,2045.660034,2045.969971,4.016370e+09,2045.969971,2086.885986,2043.215328,2031.324274
15,2015-11-13,2044.640015,2044.640015,2022.020020,2023.040039,4.278750e+09,2023.040039,2076.093994,2047.286995,2031.647808
14,2015-11-16,2022.079956,2053.219971,2019.390015,2053.189941,3.741240e+09,2053.189941,2060.862012,2049.676331,2031.874055
13,2015-11-17,2053.669922,2066.689941,2045.900024,2050.439941,4.427350e+09,2050.439941,2055.783984,2051.880994,2032.158302
12,2015-11-18,2051.989990,2085.310059,2051.989990,2083.580078,3.926390e+09,2083.580078,2049.527978,2054.231657,2032.430000
11,2015-11-19,2083.699951,2086.739990,2078.760010,2081.239990,3.628110e+09,2081.239990,2051.243994,2057.156661,2032.793808
10,2015-11-20,2082.820068,2097.060059,2082.820068,2089.169922,3.929600e+09,2089.169922,2058.297998,2059.416992,2033.170110
9,2015-11-23,2089.409912,2095.610107,2081.389893,2086.590088,3.587980e+09,2086.590088,2071.523974,2061.892989,2033.605890
8,2015-11-24,2084.419922,2094.120117,2070.290039,2089.139893,3.884930e+09,2089.139893,2078.204004,2064.197327,2034.018028
7,2015-11-25,2089.300049,2093.000000,2086.300049,2088.870117,2.852940e+09,2088.870117,2085.943994,2067.045658,2034.432712
6,2015-11-27,2088.820068,2093.290039,2084.129883,2090.110107,1.466840e+09,2090.110107,2087.002002,2070.199996,2034.835123
5,2015-11-30,2090.949951,2093.810059,2080.409912,2080.409912,4.245030e+09,2080.409912,2088.776025,2072.408333,2035.199864
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.984998,2035.531178
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.283993,2035.914082
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.908659,2036.234356
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.931331,2036.507343
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.237329,2036.869425

## Splitting up the data ##

Because fitting model requires non-missing values, we need to remove any row containg `Nan` values.

In [6]:
clean_stock = stock.dropna(axis=0).copy()
clean_stock.head()

,Date,Open,High,Low,Close,Volume,Adj Close,day_5,day_30,day_365
16224,1951-06-19,22.020000,22.020000,22.020000,22.020000,1100000.0,22.020000,21.800,21.703333,19.447726
16223,1951-06-20,21.910000,21.910000,21.910000,21.910000,1120000.0,21.910000,21.900,21.683000,19.462411
16222,1951-06-21,21.780001,21.780001,21.780001,21.780001,1100000.0,21.780001,21.972,21.659667,19.476274
16221,1951-06-22,21.549999,21.549999,21.549999,21.549999,1340000.0,21.549999,21.960,21.631000,19.489562
16220,1951-06-25,21.290001,21.290001,21.290001,21.290001,2440000.0,21.290001,21.862,21.599000,19.502082

Next, let's create the training and the test data. As we mentioned above, training data contains data with a date less then 01/01/2013, and test data contains the remaining data.

In [7]:
from datetime import datetime 
train = clean_stock[clean_stock['Date'] < datetime(year=2013, month=1, day=1)]
test = clean_stock[clean_stock['Date'] >= datetime(year=2013, month=1, day=1)]

## Making predictions on closing prices ##

Let's use the Mean Absolute Error as an error metric because it will show us how "close" we were to the price in intuitive terms.

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

lr = LinearRegression()

lr.fit(train[['day_5']], train['Close'])
predictions = lr.predict(test[['day_5']])
mae_5 = mean_absolute_error(test['Close'], predictions)
mae_5

16.267878754475266

In [9]:
lr.fit(train[['day_30']], train['Close'])
predictions = lr.predict(test[['day_30']])
mae_30 = mean_absolute_error(test['Close'], predictions)
mae_30

31.970513557097345

In [10]:
lr.fit(train[['day_365']], train['Close'])
predictions = lr.predict(test[['day_365']])
mae_365 = mean_absolute_error(test['Close'], predictions)
mae_365

146.631302068694

In [24]:
# try to train more features at one
lr.fit(train[['day_5', 'day_30']], train['Close'])
pred = lr.predict(test[['day_5', 'day_30']])
mae_5_30 = mean_absolute_error(test['Close'], pred)
print("mae_5_30 : ", mae_5_30)

lr.fit(train[['day_5', 'day_365']], train['Close'])
pred = lr.predict(test[['day_5', 'day_365']])
mae_5_365 = mean_absolute_error(test['Close'], pred)
print("mae_5_365 : ", mae_5_365)

lr.fit(train[['day_30', 'day_365']], train['Close'])
pred = lr.predict(test[['day_30', 'day_365']])
mae_30_365 = mean_absolute_error(test['Close'], pred)
print("mae_30_365 : ", mae_30_365)

lr.fit(train[['day_5', 'day_30', 'day_365']], train['Close'])
pred = lr.predict(test[['day_5', 'day_30', 'day_365']])
mae_all = mean_absolute_error(test['Close'], pred)
print("mae_all : ", mae_5_30)

mae_5_30 :  16.14929996262859
mae_5_365 :  16.13038769289735
mae_30_365 :  30.175302281842477
mae_all :  16.14929996262859

## Creating more indicators ##

Let's make more indicators related on the volume of shares traded during the period.
- Indicator 1 : the average volume over the past 5 days.
- Indicator 2 : the average volumne over the past year (or 365 days).
- Indicator 3 : the ratio between the average volume over the past 5 days and the average volume over the past year (created aften cleaning the data to avoid dividing by 0).

In [13]:
stock['vol_5'] = 0
stock['vol_365'] = 0
stock.head()

,Date,Open,High,Low,Close,Volume,Adj Close,day_5,day_30,day_365,vol_5,vol_365
16589,1950-01-03,16.66,16.66,16.66,16.66,1260000.0,16.66,NaN,NaN,NaN,0,0
16588,1950-01-04,16.85,16.85,16.85,16.85,1890000.0,16.85,NaN,NaN,NaN,0,0
16587,1950-01-05,16.93,16.93,16.93,16.93,2550000.0,16.93,NaN,NaN,NaN,0,0
16586,1950-01-06,16.98,16.98,16.98,16.98,2010000.0,16.98,NaN,NaN,NaN,0,0
16585,1950-01-09,17.08,17.08,17.08,17.08,2520000.0,17.08,NaN,NaN,NaN,0,0

In [19]:
# as shares number is discrete value, convert in interger
stock['vol_5'] = stock['Volume'].rolling(5).mean()
stock['vol_5'] = stock['vol_5'].shift()

stock['vol_365'] = stock['Volume'].rolling(365).mean()
stock['vol_365'] = stock['vol_365'].shift()

stock

,Date,Open,High,Low,Close,Volume,Adj Close,day_5,day_30,day_365,vol_5,vol_365
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1.260000e+06,16.660000,NaN,NaN,NaN,NaN,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1.890000e+06,16.850000,NaN,NaN,NaN,NaN,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2.550000e+06,16.930000,NaN,NaN,NaN,NaN,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2.010000e+06,16.980000,NaN,NaN,NaN,NaN,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2.520000e+06,17.080000,NaN,NaN,NaN,NaN,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2.160000e+06,17.030001,16.900000,NaN,NaN,2.046000e+06,NaN
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2.630000e+06,17.090000,16.974000,NaN,NaN,2.226000e+06,NaN
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2.970000e+06,16.760000,17.022000,NaN,NaN,2.374000e+06,NaN
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3.330000e+06,16.670000,16.988000,NaN,NaN,2.458000e+06,NaN
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1.460000e+06,16.719999,16.926000,NaN,NaN,2.722000e+06,NaN
16579,1950-01-17,16.860001,16.860001,16.860001,16.860001,1.790000e+06,16.860001,16.854000,NaN,NaN,2.510000e+06,NaN
16578,1950-01-18,16.850000,16.850000,16.850000,16.850000,1.570000e+06,16.850000,16.820000,NaN,NaN,2.436000e+06,NaN
16577,1950-01-19,16.870001,16.870001,16.870001,16.870001,1.170000e+06,16.870001,16.772000,NaN,NaN,2.224000e+06,NaN
16576,1950-01-20,16.900000,16.900000,16.900000,16.900000,1.440000e+06,16.900000,16.794000,NaN,NaN,1.864000e+06,NaN
16575,1950-01-23,16.920000,16.920000,16.920000,16.920000,1.340000e+06,16.920000,16.840000,NaN,NaN,1.486000e+06,NaN
16574,1950-01-24,16.860001,16.860001,16.860001,16.860001,1.250000e+06,16.860001,16.880000,NaN,NaN,1.462000e+06,NaN
16573,1950-01-25,16.740000,16.740000,16.740000,16.740000,1.700000e+06,16.740000,16.880000,NaN,NaN,1.354000e+06,NaN
16572,1950-01-26,16.730000,16.730000,16.730000,16.730000,1.150000e+06,16.730000,16.858000,NaN,NaN,1.380000e+06,NaN
16571,1950-01-27,16.820000,16.820000,16.820000,16.820000,1.250000e+06,16.820000,16.830000,NaN,NaN,1.376000e+06,NaN
16570,1950-01-30,17.020000,17.020000,17.020000,17.020000,1.640000e+06,17.020000,16.814000,NaN,NaN,1.338000e+06,NaN
16569,1950-01-31,17.049999,17.049999,17.049999,17.049999,1.690000e+06,17.049999,16.834000,NaN,NaN,1.398000e+06,NaN
16568,1950-02-01,17.049999,17.049999,17.049999,17.049999,1.810000e+06,17.049999,16.872000,NaN,NaN,1.486000e+06,NaN
16567,1950-02-02,17.230000,17.230000,17.230000,17.230000,2.040000e+06,17.230000,16.934000,NaN,NaN,1.508000e+06,NaN
16566,1950-02-03,17.290001,17.290001,17.290001,17.290001,2.210000e+06,17.290001,17.034000,NaN,NaN,1.686000e+06,NaN
16565,1950-02-06,17.320000,17.320000,17.320000,17.320000,1.490000e+06,17.320000,17.128000,NaN,NaN,1.878000e+06,NaN
16564,1950-02-07,17.230000,17.230000,17.230000,17.230000,1.360000e+06,17.230000,17.188000,NaN,NaN,1.848000e+06,NaN
16563,1950-02-08,17.209999,17.209999,17.209999,17.209999,1.470000e+06,17.209999,17.224000,NaN,NaN,1.782000e+06,NaN
16562,1950-02-09,17.280001,17.280001,17.280001,17.280001,1.810000e+06,17.280001,17.256000,NaN,NaN,1.714000e+06,NaN
16561,1950-02-10,17.240000,17.240000,17.240000,17.240000,1.790000e+06,17.240000,17.266000,NaN,NaN,1.668000e+06,NaN
16560,1950-02-14,17.059999,17.059999,17.059999,17.059999,2.210000e+06,17.059999,17.256000,NaN,NaN,1.584000e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
29,2015-10-26,2075.080078,2075.139893,2066.530029,2071.179932,3.385800e+09,2071.179932,2042.205981,1980.742993,2024.626740,3.757184e+09,3.461055e+09
28,2015-10-27,2068.750000,2070.370117,2058.840088,2065.889893,4.216880e+09,2065.889893,2049.709961,1984.681323,2025.175589,3.776880e+09,3.460598e+09
27,2015-10-28,2066.479980,2090.350098,2063.110107,2090.350098,4.698110e+09,2090.350098,2056.733936,1987.607987,2025.690739,3.953956e+09,3.463456e+09
26,2015-10-29,2088.350098,2092.520020,2082.629883,2089.409912,4.008940e+09,2089.409912,2071.015967,1990.775989,2026.253123,4.168020e+09,3.469029e+09
25,2015-10-30,2090.000000,2094.320068,2079.340088,2079.360107,4.256200e+09,2079.360107,2078.395947,1994.082987,2026.846493,4.083638e+09,3.471772e+09
24,2015-11-02,2080.760010,2106.199951,2080.760010,2104.050049,3.760020e+09,2104.050049,2079.237988,1998.127323,2027.370685,4.113186e+09,3.475824e+09
23,2015-11-03,2102.629883,2116.479980,2097.510010,2109.790039,4.272060e+09,2109.790039,2085.812012,2002.696659,2027.950302,4.188030e+09,3.478564e+09
22,2015-11-04,2110.600098,2114.590088,2096.979980,2102.310059,4.078870e+09,2102.310059,2094.592041,2008.264994,2028.523617,4.199066e+09,3.483703e+09
21,2015-11-05,2101.679932,2108.780029,2090.409912,2099.929932,4.051890e+09,2099.929932,2096.984033,2013.716663,2029.045261,4.075218e+09,3.486903e+09
20,2015-11-06,2098.600098,2101.909912,2083.739990,2099.199951,4.369020e+09,2099.199951,2099.088037,2019.306327,2029.566219,4.083808e+09,3.489849e+09
19,2015-11-09,2096.560059,2096.560059,2068.239990,2078.580078,3.882350e+09,2078.580078,2103.056006,2024.901660,2030.057096,4.106372e+09,3.494397e+09
18,2015-11-10,2077.189941,2083.669922,2069.909912,2081.719971,3.821440e+09,2081.719971,2097.962012,2031.461995,2030.481781,4.130838e+09,3.496093e+09
17,2015-11-11,2083.409912,2086.939941,2074.850098,2075.000000,3.692410e+09,2075.000000,2092.347998,2038.049662,2030.911233,4.040714e+09,3.499688e+09
16,2015-11-12,2072.290039,2072.290039,2045.660034,2045.969971,4.016370e+09,2045.969971,2086.885986,2043.215328,2031.324274,3.963422e+09,3.501949e+09
15,2015-11-13,2044.640015,2044.640015,2022.020020,2023.040039,4.278750e+09,2023.040039,2076.093994,2047.286995,2031.647808,3.956318e+09,3.505299e+09
14,2015-11-16,2022.079956,2053.219971,2019.390015,2053.189941,3.741240e+09,2053.189941,2060.862012,2049.676331,2031.874055,3.938264e+09,3.508492e+09
13,2015-11-17,2053.669922,2066.689941,2045.900024,2050.439941,4.427350e+09,2050.439941,2055.783984,2051.880994,2032.158302,3.910042e+09,3.510894e+09
12,2015-11-18,2051.989990,2085.310059,2051.989990,2083.580078,3.926390e+09,2083.580078,2049.527978,2054.231657,2032.430000,4.031224e+09,3.515319e+09
11,2015-11-19,2083.699951,2086.739990,2078.760010,2081.239990,3.628110e+09,2081.239990,2051.243994,2057.156661,2032.793808,4.078020e+09,3.518673e+09
10,2015-11-20,2082.820068,2097.060059,2082.820068,2089.169922,3.929600e+09,2089.169922,2058.297998,2059.416992,2033.170110,4.000368e+09,3.521186e+09
9,2015-11-23,2089.409912,2095.610107,2081.389893,2086.590088,3.587980e+09,2086.590088,2071.523974,2061.892989,2033.605890,3.930538e+09,3.523622e+09
8,2015-11-24,2084.419922,2094.120117,2070.290039,2089.139893,3.884930e+09,2089.139893,2078.204004,2064.197327,2034.018028,3.899886e+09,3.526334e+09
7,2015-11-25,2089.300049,2093.000000,2086.300049,2088.870117,2.852940e+09,2088.870117,2085.943994,2067.045658,2034.432712,3.791402e+09,3.528961e+09
6,2015-11-27,2088.820068,2093.290039,2084.129883,2090.110107,1.466840e+09,2090.110107,2087.002002,2070.199996,2034.835123,3.576712e+09,3.528637e+09
5,2015-11-30,2090.949951,2093.810059,2080.409912,2080.409912,4.245030e+09,2080.409912,2088.776025,2072.408333,2035.199864,3.144458e+09,3.524258e+09
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.984998,2035.531178,3.207544e+09,3.527800e+09
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.283993,2035.914082,3.232372e+09,3.526090e+09
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.908659,2036.234356,3.245514e+09,3.529468e+09
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.931331,2036.507343,3.536224e+09,3.532802e+09
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.237329,2036.869425,4.085838e+09,3.535838e+09

In [23]:
# drop missing values
stock2 = stock.dropna(axis=0).copy()

# without missing values, let's create the ratio columns
stock2['vol_ratio_5_365'] = stock2['vol_5'] / stock2['vol_365']
stock2

,Date,Open,High,Low,Close,Volume,Adj Close,day_5,day_30,day_365,vol_5,vol_365,vol_ratio_5_365
16224,1951-06-19,22.020000,22.020000,22.020000,22.020000,1.100000e+06,22.020000,21.800000,21.703333,19.447726,1.196000e+06,1.989479e+06,0.601162
16223,1951-06-20,21.910000,21.910000,21.910000,21.910000,1.120000e+06,21.910000,21.900000,21.683000,19.462411,1.176000e+06,1.989041e+06,0.591240
16222,1951-06-21,21.780001,21.780001,21.780001,21.780001,1.100000e+06,21.780001,21.972000,21.659667,19.476274,1.188000e+06,1.986932e+06,0.597907
16221,1951-06-22,21.549999,21.549999,21.549999,21.549999,1.340000e+06,21.549999,21.960000,21.631000,19.489562,1.148000e+06,1.982959e+06,0.578933
16220,1951-06-25,21.290001,21.290001,21.290001,21.290001,2.440000e+06,21.290001,21.862000,21.599000,19.502082,1.142000e+06,1.981123e+06,0.576441
16219,1951-06-26,21.299999,21.299999,21.299999,21.299999,1.260000e+06,21.299999,21.710000,21.564333,19.513617,1.420000e+06,1.980904e+06,0.716844
16218,1951-06-27,21.370001,21.370001,21.370001,21.370001,1.360000e+06,21.370001,21.566000,21.535000,19.525315,1.452000e+06,1.978438e+06,0.733912
16217,1951-06-28,21.100000,21.100000,21.100000,21.100000,1.940000e+06,21.100000,21.458000,21.522000,19.537041,1.500000e+06,1.974959e+06,0.759509
16216,1951-06-29,20.959999,20.959999,20.959999,20.959999,1.730000e+06,20.959999,21.322000,21.502333,19.548932,1.668000e+06,1.972137e+06,0.845783
16215,1951-07-02,21.100000,21.100000,21.100000,21.100000,1.350000e+06,21.100000,21.204000,21.470667,19.560685,1.746000e+06,1.967753e+06,0.887306
16214,1951-07-03,21.230000,21.230000,21.230000,21.230000,1.250000e+06,21.230000,21.166000,21.457000,19.572685,1.528000e+06,1.967452e+06,0.776639
16213,1951-07-05,21.639999,21.639999,21.639999,21.639999,1.410000e+06,21.639999,21.152000,21.449333,19.584658,1.526000e+06,1.965973e+06,0.776206
16212,1951-07-06,21.639999,21.639999,21.639999,21.639999,1.170000e+06,21.639999,21.206000,21.458667,19.597781,1.536000e+06,1.965534e+06,0.781467
16211,1951-07-09,21.730000,21.730000,21.730000,21.730000,1.110000e+06,21.730000,21.313999,21.474667,19.610849,1.382000e+06,1.965534e+06,0.703117
16210,1951-07-10,21.629999,21.629999,21.629999,21.629999,9.900000e+05,21.629999,21.468000,21.497333,19.624082,1.258000e+06,1.964630e+06,0.640324
16209,1951-07-11,21.680000,21.680000,21.680000,21.680000,9.700000e+05,21.680000,21.573999,21.517333,19.636986,1.186000e+06,1.963671e+06,0.603971
16208,1951-07-12,21.799999,21.799999,21.799999,21.799999,1.050000e+06,21.799999,21.663999,21.533000,19.650192,1.130000e+06,1.962904e+06,0.575678
16207,1951-07-13,21.980000,21.980000,21.980000,21.980000,1.320000e+06,21.980000,21.695999,21.548000,19.664055,1.058000e+06,1.961123e+06,0.539487
16206,1951-07-16,21.730000,21.730000,21.730000,21.730000,1.200000e+06,21.730000,21.764000,21.563333,19.678438,1.088000e+06,1.961589e+06,0.554652
16205,1951-07-17,21.920000,21.920000,21.920000,21.920000,1.280000e+06,21.920000,21.764000,21.571666,19.691890,1.106000e+06,1.961452e+06,0.563868
16204,1951-07-18,21.879999,21.879999,21.879999,21.879999,1.370000e+06,21.879999,21.822000,21.594333,19.705315,1.164000e+06,1.960466e+06,0.593736
16203,1951-07-19,21.840000,21.840000,21.840000,21.840000,1.120000e+06,21.840000,21.862000,21.612666,19.718548,1.244000e+06,1.959589e+06,0.634827
16202,1951-07-20,21.879999,21.879999,21.879999,21.879999,1.390000e+06,21.879999,21.870000,21.624666,19.731671,1.258000e+06,1.957699e+06,0.642591
16201,1951-07-23,22.100000,22.100000,22.100000,22.100000,1.320000e+06,22.100000,21.850000,21.635333,19.744411,1.272000e+06,1.955918e+06,0.650334
16200,1951-07-24,22.440001,22.440001,22.440001,22.440001,1.740000e+06,22.440001,21.924000,21.655666,19.757589,1.296000e+06,1.953479e+06,0.663432
16199,1951-07-25,22.320000,22.320000,22.320000,22.320000,1.870000e+06,22.320000,22.028000,21.683333,19.771616,1.388000e+06,1.954164e+06,0.710278
16198,1951-07-26,22.469999,22.469999,22.469999,22.469999,1.480000e+06,22.469999,22.116000,21.710000,19.785562,1.488000e+06,1.955562e+06,0.760907
16197,1951-07-27,22.530001,22.530001,22.530001,22.530001,1.450000e+06,22.530001,22.242000,21.740666,19.799973,1.560000e+06,1.955589e+06,0.797714
16196,1951-07-30,22.629999,22.629999,22.629999,22.629999,1.600000e+06,22.629999,22.372000,21.763666,19.814356,1.572000e+06,1.954603e+06,0.804255
16195,1951-07-31,22.400000,22.400000,22.400000,22.400000,1.550000e+06,22.400000,22.478000,21.783333,19.829123,1.628000e+06,1.954082e+06,0.833128
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,2015-10-26,2075.080078,2075.139893,2066.530029,2071.179932,3.385800e+09,2071.179932,2042.205981,1980.742993,2024.626740,3.757184e+09,3.461055e+09,1.085560
28,2015-10-27,2068.750000,2070.370117,2058.840088,2065.889893,4.216880e+09,2065.889893,2049.709961,1984.681323,2025.175589,3.776880e+09,3.460598e+09,1.091395
27,2015-10-28,2066.479980,2090.350098,2063.110107,2090.350098,4.698110e+09,2090.350098,2056.733936,1987.607987,2025.690739,3.953956e+09,3.463456e+09,1.141621
26,2015-10-29,2088.350098,2092.520020,2082.629883,2089.409912,4.008940e+09,2089.409912,2071.015967,1990.775989,2026.253123,4.168020e+09,3.469029e+09,1.201495
25,2015-10-30,2090.000000,2094.320068,2079.340088,2079.360107,4.256200e+09,2079.360107,2078.395947,1994.082987,2026.846493,4.083638e+09,3.471772e+09,1.176240
24,2015-11-02,2080.760010,2106.199951,2080.760010,2104.050049,3.760020e+09,2104.050049,2079.237988,1998.127323,2027.370685,4.113186e+09,3.475824e+09,1.183370
23,2015-11-03,2102.629883,2116.479980,2097.510010,2109.790039,4.272060e+09,2109.790039,2085.812012,2002.696659,2027.950302,4.188030e+09,3.478564e+09,1.203954
22,2015-11-04,2110.600098,2114.590088,2096.979980,2102.310059,4.078870e+09,2102.310059,2094.592041,2008.264994,2028.523617,4.199066e+09,3.483703e+09,1.205345
21,2015-11-05,2101.679932,2108.780029,2090.409912,2099.929932,4.051890e+09,2099.929932,2096.984033,2013.716663,2029.045261,4.075218e+09,3.486903e+09,1.168721
20,2015-11-06,2098.600098,2101.909912,2083.739990,2099.199951,4.369020e+09,2099.199951,2099.088037,2019.306327,2029.566219,4.083808e+09,3.489849e+09,1.170196
19,2015-11-09,2096.560059,2096.560059,2068.239990,2078.580078,3.882350e+09,2078.580078,2103.056006,2024.901660,2030.057096,4.106372e+09,3.494397e+09,1.175130
18,2015-11-10,2077.189941,2083.669922,2069.909912,2081.719971,3.821440e+09,2081.719971,2097.962012,2031.461995,2030.481781,4.130838e+09,3.496093e+09,1.181558
17,2015-11-11,2083.409912,2086.939941,2074.850098,2075.000000,3.692410e+09,2075.000000,2092.347998,2038.049662,2030.911233,4.040714e+09,3.499688e+09,1.154592
16,2015-11-12,2072.290039,2072.290039,2045.660034,2045.969971,4.016370e+09,2045.969971,2086.885986,2043.215328,2031.324274,3.963422e+09,3.501949e+09,1.131776
15,2015-11-13,2044.640015,2044.640015,2022.020020,2023.040039,4.278750e+09,2023.040039,2076.093994,2047.286995,2031.647808,3.956318e+09,3.505299e+09,1.128668
14,2015-11-16,2022.079956,2053.219971,2019.390015,2053.189941,3.741240e+09,2053.189941,2060.862012,2049.676331,2031.874055,3.938264e+09,3.508492e+09,1.122495
13,2015-11-17,2053.669922,2066.689941,2045.900024,2050.439941,4.427350e+09,2050.439941,2055.783984,2051.880994,2032.158302,3.910042e+09,3.510894e+09,1.113688
12,2015-11-18,2051.989990,2085.310059,2051.989990,2083.580078,3.926390e+09,2083.580078,2049.527978,2054.231657,2032.430000,4.031224e+09,3.515319e+09,1.146759
11,2015-11-19,2083.699951,2086.739990,2078.760010,2081.239990,3.628110e+09,2081.239990,2051.243994,2057.156661,2032.793808,4.078020e+09,3.518673e+09,1.158965
10,2015-11-20,2082.820068,2097.060059,2082.820068,2089.169922,3.929600e+09,2089.169922,2058.297998,2059.416992,2033.170110,4.000368e+09,3.521186e+09,1.136085
9,2015-11-23,2089.409912,2095.610107,2081.389893,2086.590088,3.587980e+09,2086.590088,2071.523974,2061.892989,2033.605890,3.930538e+09,3.523622e+09,1.115482
8,2015-11-24,2084.419922,2094.120117,2070.290039,2089.139893,3.884930e+09,2089.139893,2078.204004,2064.197327,2034.018028,3.899886e+09,3.526334e+09,1.105932
7,2015-11-25,2089.300049,2093.000000,2086.300049,2088.870117,2.852940e+09,2088.870117,2085.943994,2067.045658,2034.432712,3.791402e+09,3.528961e+09,1.074368
6,2015-11-27,2088.820068,2093.290039,2084.129883,2090.110107,1.466840e+09,2090.110107,2087.002002,2070.199996,2034.835123,3.576712e+09,3.528637e+09,1.013624
5,2015-11-30,2090.949951,2093.810059,2080.409912,2080.409912,4.245030e+09,2080.409912,2088.776025,2072.408333,2035.199864,3.144458e+09,3.524258e+09,0.892233
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.984998,2035.531178,3.207544e+09,3.527800e+09,0.909219
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.283993,2035.914082,3.232372e+09,3.526090e+09,0.916702
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.908659,2036.234356,3.245514e+09,3.529468e+09,0.919548
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.931331,2036.507343,3.536224e+09,3.532802e+09,1.000969
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.237329,2036.869425,4.085838e+09,3.535838e+09,1.155550

In [27]:
# time to make predictions
train = stock2[stock2['Date'] < datetime(year=2013, month=1, day=1)]
test = stock2[stock2['Date'] >= datetime(year=2013, month=1, day=1)]

lr.fit(train[['vol_5']], train['Close'])
pred = lr.predict(test[['vol_5']])
mae_vol5 = mean_absolute_error(test['Close'], pred)
print('mae_vol5 :' , mae_vol5)

lr.fit(train[['vol_365']], train['Close'])
pred = lr.predict(test[['vol_365']])
mae_vol365 = mean_absolute_error(test['Close'], pred)
print('mae_vol365 :' , mae_vol365)

lr.fit(train[['vol_ratio_5_365']], train['Close'])
pred = lr.predict(test[['vol_ratio_5_365']])
mae_ratio = mean_absolute_error(test['Close'], pred)
print('mae_ratio :' , mae_ratio)

lr.fit(train[['vol_5', 'vol_365']], train['Close'])
pred = lr.predict(test[['vol_5', 'vol_365']])
mae_vol_5_365 = mean_absolute_error(test['Close'], pred)
print('mae_vol_5_365 :' , mae_vol_5_365)

lr.fit(train[['vol_5', 'vol_ratio_5_365']], train['Close'])
pred = lr.predict(test[['vol_5', 'vol_ratio_5_365']])
mae_vol_5_ratio = mean_absolute_error(test['Close'], pred)
print('mae_vol_5_ratio :' , mae_vol_5_ratio)

lr.fit(train[['vol_365', 'vol_ratio_5_365']], train['Close'])
pred = lr.predict(test[['vol_365', 'vol_ratio_5_365']])
mae_vol_365_ratio = mean_absolute_error(test['Close'], pred)
print('mae_vol_365_ratio :' , mae_vol_5_ratio)

lr.fit(train[['vol_5', 'vol_365', 'vol_ratio_5_365']], train['Close'])
pred = lr.predict(test[['vol_5', 'vol_365', 'vol_ratio_5_365']])
mae_vol_all = mean_absolute_error(test['Close'], pred)
print('mae_vol_all :' , mae_vol_all)

mae_vol5 : 734.5794880319837
mae_vol365 : 687.1969697261956
mae_ratio : 1455.002851905863
mae_vol_5_365 : 700.3937534996745
mae_vol_5_ratio : 734.418972473799
mae_vol_365_ratio : 734.418972473799
mae_vol_all : 703.8973357656081